=link_to "sign out", destroy_user_session_path, method: :delete
%h2 hello expert
= form_for @expert do |f|
	= f.label :name
	= f.text_field :name, placeholder: "Full Name"
	%p Description
	= f.text_area	:description, placeholder:"Describe yourself"
	%p availability
	= f.date_field :startDate
	= f.date_field :endDate
	%p location
	= f.text_field :location, placeholder:"city/country"

	= f.submit "Update"

